<% set_meta_tags title: "VenJob - Edit #{resource_name.to_s.humanize}",
                 description: "VenJob - Edit #{resource_name.to_s.humanize}",
                 keywords: "VenJob - Edit #{resource_name.to_s.humanize}" %>
<header class="page-header">
  <h2 class="page-title">Edit <%= resource_name.to_s.humanize %></h2>
</header>
<div id="primary" class="content-area container" role="main">
  <article id="post-1673" class="post-1673 page type-page status-publish hentry">
    <div class="entry-content">
      <div class="registration-form woocommerce">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <p class="field">
            <%= f.label :full_name %><br />
            <%= f.text_field :full_name, placeholder: "Fullname"  %>
          </p>

          <p class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, placeholder: "Email"  %>
          </p>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <p class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </p>

          <p class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password"  %>
          </p>

          <p class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password"  %>
          </p>

          <fieldset class="fieldset-featured_image fieldset-type-file">
            <%= f.label :cv %>
            <div class="field ">
              <label for="user_cv" class="file-field-label">
                <div class="job-manager-uploaded-files">
                </div>
                <%= f.file_field :cv, accept: "application/pdf,.xls,.xlsx,.doc,.zip" %>
                <span class="button button--size-medium">
                  Choose file
                </span>
              </label>
              <small class="description file-field-description">
                Allowed format: doc, pdf, xls, xlsx, zip. Maxium size: 5MB.
              </small>
            </div>
          </fieldset>

          <p class="actions" style="text-align: center;">
            <%= f.submit "Update", class: "button" %>
          </p>
        <% end %>
      </div>
    </div>
  </article>
</div>