<% content_for :title, "VenJob - Admins Sign Up" %>
<header class="page-header">
  <h2 class="page-title">Admin Sign Up</h2>
</header>
<div id="primary" class="content-area container" role="main">
  <article id="post-1673" class="post-1673 page type-page status-publish hentry">
    <div class="entry-content">
      <div class="registration-form woocommerce">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <p class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email" %>
          </p>

          <p class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </p>

          <p class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </p>

          <p class="actions">
            <%= f.submit "Sign up", class: "button" %>
          </p>
        <% end %>
        <p>
          Do you have account? <%= render "devise/shared/links" %>
        </p>
        
      </div>
    </div>
  </article>
</div>