<% content_for :title, "VenJob - Admin Sign In" %>
<header class="page-header">
  <h2 class="page-title">Admin Sign In</h2>
</header>
<div id="primary" class="content-area container" role="main">
  <article id="post-1673" class="post-1673 page type-page status-publish hentry">
    <div class="entry-content">
      <div class="registration-form woocommerce">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <p class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </p>

          <p class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </p>

          <% if devise_mapping.rememberable? %>
            <p class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </p>
          <% end %>

          <p class="actions">
            <%= f.submit "Log in", class: "button" %>
          </p>
        <% end %>        
        <p>
          <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
  </article>
</div>